@use "sass:color";

@function tint($color, $percentage) {
  @return color.mix(white, $color, $percentage, $method: okab);
}


@function shade($color, $percentage) {
  @return color.mix(black, $color, $percentage, $method: okab);
}
