@use "utilities/convert";

.md-header {
  z-index: 5;
}

.playground-code {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 2px;
  overflow: hidden;
}

.playground-code .highlight code {
  min-height: 3em;
}

.playground-code .highlight,
.playground-code .highlight code {
  margin: 0;
  overflow: hidden;
}

.playground-code pre {
  margin: 0;
}

.playground-results code {
  min-height: 3em;
}

.playground-results pre {
  margin-bottom: 0;
}

.playground-results .swatch-bar {
  min-height: calc(3em + 4px);
}

.playground-results .swatch-bar:empty {
  display: none;
}

.playground-results .swatch-bar:empty + .highlight {
  border-color: transparent;
}

.playground-results .color-command {
  margin-bottom: 0;
}

.playground-code:not(.hidden) div.highlight ,
.hidden .highlight,
.hidden .playground-inputs {
  display: none;
}

.playground-footer {
  display: flex;
  margin-bottom: 1em;
  padding: convert.px2em(3px, 13.6px) convert.px2em(16px, 13.6px) convert.px2em(2px, 13.6px);
  overflow: hidden;
  color: var(--md-code-hl-comment-color);
  font-size: convert.px2em(13.6px);
  background: var(--md-code-bg-color);
  border-bottom-right-radius: convert.px2rem(2px);
  border-bottom-left-radius: convert.px2rem(2px);

  hr {
    margin: 0 0 convert.px2em(2px, 13.6px) 0;
  }

  .spacer {
    flex-grow: 1;
    width: 100%;
  }

  .footer-status {
    white-space: nowrap;
  }

  .session {
    padding-right: 1em;
  }
}
